body {
    margin: 0;
    padding: 0;
    font: 15px Arial, sans-serif;

}

/* .border {
    border: 3px dotted yellow;
} */

.cat {
    display: inline-block;
    width: 300px;
    height: 600px;
    /* background-color: pink; */
    margin: 4px 2px;
    border-radius: 10px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #e8e8e8;
}

.picture {
    width: 290px;
    height: 50%;
    position: relative;
    margin: 1px auto;
}

.img {
    position: absolute;
    /* vertical-align: bottom; */
    /* margin-bottom: 10px; */
    /* display: block; */
    border-radius: 10px;
    bottom: 0;
    width: 100%;
    /* height: 150px; */
    /* margin:auto auto 90% auto; */
}

img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.information {
    /* float: inline-end; */
    /* float: top; */
    /* position: static; */
    /* display: block; */
    /* position: absolute; */
    /* vertical-align: bottom; */
    /* text-align: center; */
    /* border: 1px red solid; */
    margin: 0 auto;
    width: 90%;
    height: calc(50% - 10px);
}

/* ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

li {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.name {
    /* position: static; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    color: #3757c5;
    text-decoration: none;
}

.name:hover {
    color: red;
}

.cat-type {
    font-weight: 900;
    font-size: 17px;
    color: rgb(128, 128, 128);
}

.price {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-align: right;
}

.old-price {
    color: rgb(84, 84, 84);
    text-decoration: line-through;
    font-size: 17px;
    font-weight: 600;
    text-align: right;
}

/* .grade {
    position: relative;
} */

/* .allcats {
} */